<% include partials/header %>

<center>
  <div class="ui container">
    <div class="ui equal width grid">
          <div class="left floated left aligned column">
          <h5>  
            <img class="ui middle aligned circular tiny image" src="/uploads/robot4.png" style="opacity:0.9">
              Binance Crypto Bot - Performance Data
          </h5>    
          </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <div class="ui divider"></div>
    <div class="ui centered stackable three column grid">
      
      <div class="column">
        <table class="ui small very compact table">
          <thead>
            <tr><th>Account Data</th>
            <th>Inception: <%= moment("20181109", "YYYYMMDD").fromNow(); %></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Total Invested</td>
              <td><% var totalEthInvested = []; for (var i=0; i < balanceHistory.length; i++){totalEthInvested.push(balanceHistory[i].cashFlow)} %>
              <%= _.sum(totalEthInvested).toFixed(2) %> ETH
              </td>
            </tr>
            <tr>
              <td>Total Balance</td>
              <td><%= balanceHistory[balanceHistory.length -1].totalBalancePlusCashFLow %> ETH</td>
            </tr>
            <tr>
              <td>Total Profit or Loss</td>
              <% if ((+balanceHistory[balanceHistory.length -1].totalBalancePlusCashFLow - +_.sum(totalEthInvested)) > 0 ) { %> 
                <td class="ui green message">
                  <%= (+balanceHistory[balanceHistory.length -1].totalBalancePlusCashFLow - +_.sum(totalEthInvested)).toFixed(2) %> ETH or 
                  <%= (((+balanceHistory[balanceHistory.length -1].totalBalancePlusCashFLow / +_.sum(totalEthInvested))-1)*100).toFixed(2) %> %
                </td>
              <% } else { %>  
                <td class="ui red message">
                  <%= (+balanceHistory[balanceHistory.length -1].totalBalancePlusCashFLow - +_.sum(totalEthInvested)).toFixed(2) %> ETH or 
                  <%= (((+balanceHistory[balanceHistory.length -1].totalBalancePlusCashFLow / +_.sum(totalEthInvested))-1)*100).toFixed(2) %> %
                </td>
              <% } %>  
            </tr>
            <tr>
              <td>Profit / Loss Ratio (Days)</td>
                <% 
                  var i, j, arrProfit = [], arrLoss = [];
                    for ( i = 1, j = 0; i  < balanceHistory.length; i++, j++) {
                      if((balanceHistory[i].totalBalance - +balanceHistory[j].totalBalancePlusCashFLow) >= 0) {
                        arrProfit.push((balanceHistory[i].totalBalance - +balanceHistory[j].totalBalancePlusCashFLow));
                      } else {
                        arrLoss.push((balanceHistory[i].totalBalance - +balanceHistory[j].totalBalancePlusCashFLow));
                      }  
                    }
                %>
          
          <% if(arrProfit.length / arrLoss.length >= 0) { %>
          <td class="ui green message"><%= `${arrProfit.length} / ${arrLoss.length} or ${((arrProfit.length/balanceHistory.length)*100).toFixed(2)} %`  %></td>
          <% } %>      
            </tr>
          <tr>
            <td>Max Profit & Loss (Day)</td>
            <td><%= `${Math.max(...arrProfit).toFixed(2)} & ${Math.min(...arrLoss).toFixed(2)} ETH` %></td>
          </tr>  
          </tbody>
        </table>
      </div>

    
    <div class="column">
        <canvas id="doughnut-chart" width="600" height="300"></canvas>
        <script>
          new Chart(document.getElementById("doughnut-chart"), {
              type: 'doughnut',
              data: {
                labels: ["Profit", "Loss"],
                datasets: [
                  {
                    label: "Population (millions)",
                    backgroundColor: ["#d6f5d6", "#ffb3b3"],
                    data: [<%= arrProfit.length %>, <%= arrLoss.length %>],
                    fill: false
                  }
                ]
              },
              options: {
                title: {
                  display: true,
                  text: "Days Profit vs. Loss (ETH)"
                }
              }
          });
      </script>
    </div>
    
    <div class="column">
        <canvas id="bar-chart" width="800" height="450"></canvas>
        <script>
          // Bar chart
          new Chart(document.getElementById("bar-chart"), {
              type: 'bar',
              data: {
                labels: ["Max Profit", "Max Loss"],
                datasets: [
                  {
                    label: "Max Profit / Max Loss Day",
                    backgroundColor: ["#d6f5d6", "#ffb3b3"],
                    borderColor: ["#27a527","#ffe6e6"],
                    data: [<%= Math.max(...arrProfit).toFixed(2) %>, <%= Math.min(...arrLoss).toFixed(2) %>],
                    fill: false
                  }
                ]
              },
              options: {
                legend: { display: false },
                title: {
                  display: true,
                  text: "Max Profit vs. Loss Day (ETH)"
                }
              }
          });
      </script>
    </div>  
  </div>
  
  <div class="ui centered stackable two column grid">
      <div class="column">
        <div class="ui divider"></div>
        

        
        
  </div>

</center>


<div style="font-size:smaller;" class="ui mini inverted vertical footer segment">
  <center>
    <p>
      <img class="ui small image" style="opacity: 0.5; width:60px; height:50px;" src="/uploads/robot4.png">
      Binance Crypto Bot
    </p>
    <p>Developed by <strong>Mospretmen</strong></p>
  </center>  
</div>

<% include partials/footer %>
