<% include partials/header %>

<% 
  function s(x) {
    return JSON.stringify(x);
  }
%>

<center>
  <div class="ui container">
    <div class="ui equal width grid">
          <div class="left floated left aligned column">
          <h5>  
            <img class="ui middle aligned circular tiny image" src="/uploads/robot4.png" style="opacity:0.9">
              Binance Crypto Bot - Performance Data
          </h5>    
          </div>
    </div>
    <div class="ui divider"></div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
    <canvas id="line-chart" width="800" height="450"></canvas>
    
    <%
    
    var unix = [];
    var high = [];
    var low = [];
  
    for (var i =0; i < docs[0].data.length; i++) {
      unix.push(docs[0].data[i][0]);
      high.push(+docs[0].data[i][2]);
      low.push(+docs[0].data[i][3]);
    }

    %>

    <script>
      new Chart(document.getElementById("line-chart"), {
        type: 'line',
        data: {
          labels: [<%= unix %>],
          datasets: [{ 
              data: [<%= high %>],
              label: "High",
              borderColor: "#333333",
              fill: false
            }, { 
              data: [<%= low %>],
              label: "Low",
              borderColor: "#333333",
              fill: false
            }
          ]
        },
        options: {
          title: {
            display: false,
            text: 'Recent Trades'
          },
          elements: {
            line: {
                tension: 0,// disables bezier curves
                borderWidth: 1
              },
            point: {
                radius: 0 
              }
          },
          legend: {
            position: 'bottom',
            labels: {
              fontSize: 10
            }
          },
          scales: {
            xAxes: [{
                    ticks: {
                      fontSize: 0
                    }
                  }],
            yAxes: [{
                    ticks: {
                      fontSize: 8
                    }
                  }]     
          }
        }
      });
    </script>
    
  <br>
  <div>
    
  <canvas id="line-chart2" width="800" height="450"></canvas>

    <p>Most Recent trades...</p>
    <table style="font-size: smaller" class="ui very compact basic unstackable striped table">
      <thead>
        <tr>
          <th>orderId</th>
          <th>Price</th>
          <th>Qty</th>
          <th>Time</th>
          <th>isBuyer</th>
          <th>isMaker</th>
        </tr>
      </thead>
      <tbody>
        
      <%
        var time =[];
        var buy =[];
        var sell =[];
        
        for (var i=trades.length -70; i < trades.length; i++) {
          time.push((trades[i].time/1000));
          if(trades[i].isBuyer === true) {
            buy.push(trades[i].price)
          } else {
            sell.push(trades[i].price)
          }
          
      %>
        <tr>
          <td><%= s(trades[i].orderId) %></td>
          <td><%= s(trades[i].price) %></td>
          <td><%= numeral(s(trades[i].qty)).format('0.0') %></td>
          <td><%= moment.unix(s(+trades[i].time/1000)).format('MM/DD/YYYY hh:mm:ss') %></td>
          <td><%= s(trades[i].isBuyer) %></td>
          <td><%= s(trades[i].isMaker) %></td>
        </tr>
        
      <% } %>  
      </tbody>
    </table>
  </div>

  <script>
    new Chart(document.getElementById("line-chart2"), {
      type: 'line',
      data: {
        labels: [<%= time %>],
        datasets: [{ 
            data: [<%= buy %>],
            label: "Buy",
            borderColor: "#2ab238",
            fill: false,
            showLine: false 
          }, { 
            data: [<%= sell %>],
            label: "Sell",
            borderColor: "#b22a2a",
            fill: false,
            showLine: false 
          }
        ]
      },
      options: {
        title: {
          display: false,
          text: 'Recent Trades'
        },
        elements: {
          line: {
              tension: 0,// disables bezier curves
              borderWidth: 1
            },
          point: {
              radius: 2 
            }
        },
        legend: {
          position: 'bottom',
          labels: {
            fontSize: 10
          }
        },
        scales: {
          xAxes: [{
                  ticks: {
                    fontSize: 5
                  }
                }],
          yAxes: [{
                  ticks: {
                    fontSize: 8
                  }
                }]     
        }
      }
    });
  </script>
  
  <br>
      
  </div>


<% include partials/footer %>
